* {
	padding: 0;
	margin: 0;
}
body, html {
	height: 100%;
}
.contentContainer {
	height:100%;
}
.mapContainer {
	height:calc(100% - 28px);
	position: relative;
	overflow:hidden;
}
.mapActionContainer{
	height:28px;
 	background:#F5F5F5;
}
#map {
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow:hidden;
}

.palette{
	position: absolute;
	top: 10px;
	right: 0px;
	min-height:240px;
	width: 20%;
	max-width: 360px;
	min-width: 230px;
	background: rgba(38,38,38,0.3);
	color: white;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 0 5px 0px #000;
	transform: translate(0%,0);
	transition: visibility 0s 0.2s,opacity 0.2s ease-in,transform 0.2s ease-in;
	z-index:999;
}
.palette-hide{
	transform: translate(calc(100% - 2px),0);
}
.palette .palette-title{
	height: 20px;
	padding: 5px 5px 5px 5px;
	background: rgba(84,84,84,1);
	border-top-left-radius: 5px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: content-box;
	z-index:999;
}
.palette .palette-title .palette-back{
	float:left;
	font-size:18px;
	cursor: pointer;
	color:rgba(255,255,255,0.8);
}
.palette .palette-title .palette-close{
	float:right;
	font-size:18px;
	cursor: pointer;
	color:rgba(255,255,255,0.8);
}
.palette .palette-cover{
	display:none;
	position: absolute;
	top: 20px;
	left: 0px;
	height:calc(100% - 20px);
	width:100%;
	background: rgba(255,255,255,0.01);
}
.palette .palette-body{
	overflow:hidden;
}

.palette .palette-body .palette-cell{
	overflow:hidden;
	float:left;
	width:56px;
	height:70px;
	text-align: center;
}
.palette .palette-body .palette-cell img{
	padding-left:5px;
	padding-top:5px;
	position: relative;
	width:48px;
	height:48px;

}
.palette .palette-body .palette-cell span{
	font-size:10px;
	color:white;
}
.infoBox {
	position: absolute;
	top: 10px;
	left: 0px;
	min-height:20px;
	min-width: 300px;
	background: rgba(38,38,38,0.5);
	color: white !important;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 5px 0px #000;
	transform: translate(0%,0);
	transition: visibility 0s 0.2s,opacity 0.2s ease-in,transform 0.2s ease-in;
	z-index:999;
}
.infoBox-hide{
	transform: translate(calc(-100% + 2px),0);
}
.infoBox .infoBox-title{
	height: 20px;
	padding: 5px 5px 5px 5px;
	background: rgba(84,84,84,1);
	border-top-right-radius: 5px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	box-sizing: content-box;
	z-index:999;
}
.infoBox .infoBox-title .infoBox-back{
	float:left;
	font-size:18px;
	cursor: pointer;
	color:rgba(255,255,255,0.8);
}
.infoBox .infoBox-title .infoBox-close{
	float:right;
	font-size:18px;
	cursor: pointer;
	color:rgba(255,255,255,0.8);
}
.infoBox table tr{
	background-color: transparent !important;
}
.infoBox table a{
	color: white;
}
.infoBox ul{
	margin: 0 !important;
}
.infoBox ul li a{
	color:white;
	background: transparent !important;
	padding: 2px 3px !important;
}
.infoBox .portlet{
	background: transparent !important;
}
.infoBox .actions{
	display:none;
}
.infoBox .caption{
	color:white !important;
}
.infoBox .pagination .active a{
	color:#2a6496 !important;
}
.marker-lite{
	background: transparent;
	color: #fff;
	width:32px;
	height:32px;
	position: relative;
}
.marker-lite:hover, .marker-lite:focus {
	color: #000;
}
.marker-lite h{
	display:none;
}
.marker-lite span{
	display:none;
}
.marker-lite .marker-logo{
	overflow:hidden;
	width:28px;
	height:28px;
}
.marker-lite .marker-logo i{
	font-size:20px;
	padding-left:5px;
	padding-top:5px;
}
.marker-lite .marker-logo img{
	position: relative;
	width:24px;
	height:24px;
	top:3px;
	left: -97px;
	box-sizing: content-box;
	border-right: 100px solid transparent;/*必不可少*/
	filter: drop-shadow(100px 0 0 rgba(255, 255, 255, 1));
}
.marker-lite .marker-icon{
	display:none;
}
.marker-lite .marker-icon i{
	display:none;
}

.marker-detail{
	font-size:16px;
	width:150px;
	height:32px;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
	border-radius: 8px !important;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px 0px;
}
.marker-detail:hover, .marker-detail:focus {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}
.marker-detail h{
	padding-left:35px;
	padding-top:5px;
	display:inline-block;
	color: lightgreen;
}
.marker-detail span{
	color: yellow;
	width:24px;
}
.marker-detail .marker-logo{
	overflow:hidden;
	width:28px;
	height:28px;
	position:absolute;
	box-sizing: content-box;
}
.marker-detail .marker-logo i{
	font-size:20px;
	padding-left:5px;
	padding-top:5px;
}
.marker-detail .marker-logo img{
	position: relative;
	width:24px;
	height:24px;
	top:1px;
	left: -97px;
	box-sizing: content-box;
	border-right: 100px solid transparent;/*必不可少*/
	filter: drop-shadow(100px 0 0 rgba(255, 255, 255, 1));
}
.marker-detail .marker-icon{
	overflow:hidden;
	width:36px;
	height:36px;
	border: solid 2.5px rgba(255, 255, 255, 1);
	border-radius: 36px !important;
	background: transparent;
	position:absolute;
	top:-4px;
	left:110px;
	box-sizing: content-box;
}
.marker-detail .marker-icon i{
	font-size:30px;
	padding-left:5px;
	padding-top:5px;
}
.marker-detail .marker-icon img{
	position: relative;
	width:32px;
	height:32px;
	top:2px;
	left: -98px;
	box-sizing: content-box;
	border-right: 100px solid transparent;/*必不可少*/
	filter: drop-shadow(100px 0 0 rgba(255, 255, 255, 1));
}
.non-outline{
	outline:none;
}
.marker-clean{
	
}
.marker-clean .clean-image{
	overflow:hidden;
	position: relative;
	width:36px;
	height:36px;
}
.marker-clean .clean-count{
	position: absolute;
	color: white;
	font-size: 10px;
	text-align: center;
	background-color: red;
	right: 0px;
	bottom: 0px;
	min-width: 12px;
	height: 14px;
	border-radius: 12px;
}
.marker-clean .clean-image img{
	position: absolute;
	width:36px;
	height:36px;
	top:0px;
	left: -100px;
	box-sizing: content-box;
	border-right: 100px solid transparent;
	filter: drop-shadow(100px 0 0 rgba(255, 255, 255, 1));
}
.marker-clean .clean-image-origin{
	overflow:hidden;
	position: relative;
	width:36px;
	height:36px;
}
.marker-clean .clean-image-origin img{
	position: absolute;
	width:36px;
	height:36px;
	top:0px;
	left: 0px;
}
.marker-clean .clean-text{
	font-size:10px;
	position: absolute;
	text-align:center;
	width:36px;
	top:5px;
	left:0px;
}
.marker-arrow{
	position: relative;
	overflow:hidden;
	width:36px;
	height:36px;
}
.marker-arrow .arrow-outter{
	transform:rotate(0deg);
}
.marker-arrow .arrow-outter img{
	position: relative;
	height:36px;
	top:0px;
	left: -100px;
	box-sizing: content-box;
	border-right: 100px solid transparent;
	filter: drop-shadow(100px 0 0 rgba(0, 0, 0, 1));
}
.marker-arrow .arrow-inner{
	position:absolute;
	top: 8px;
	left: 8px;
}
.marker-arrow .arrow-inner svg{
	position: relative;
	width:20px;
	height:20px;
}

.marker-detail .halo{
	top:15px;
	left: 15px;
	position:absolute;
}
.marker-lite .halo{
	top:15px;
	left: 15px;
	position:absolute;
}
.halo .level1{
	top:-10px;
	left: -10px;
	border: solid 0.1px rgba(0, 255, 0, 0);
	width:20px;
	height:20px;
	border-radius: 100px !important;
	position:absolute;
}
.halo .level2{
	top:-35px;
	left: -35px;
	border: solid 0.1px rgba(0, 255, 0, 0);
	width:70px;
	height:70px;
	border-radius: 100px !important;
	position:absolute;
}
.halo .level3{
	top:-60px;
	left: -60px;
	border: solid 0.1px rgba(0, 255, 0, 0);
	width:120px;
	height:120px;
	border-radius: 100px !important;
	position:absolute;
}